h2 {
    color: black;
}

.a {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.b {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.c {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.d {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.e {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.f {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.g {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.h {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.i {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}

.j {
    margin: 50px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    border: 3px solid black;
}